html {
	  background-color:black ;
}

.header h1 {
	display: flex;
    font-size: 50px;
    font-family: ;
    padding: ;
    margin: ;
    font-weight: ;
    text-decoration: ;
    color: white;
    background-color: black;
}

h2 {
    font-size: 45px;
    font-family: ;
    padding: ;
    margin: ;
    font-weight: ;
    color: white;
    background-color: black;
}

p {
    font-family: ;
    font-size: 25px;
    padding: ;
    margin: ;
    color: white;
    background-color: black;:w

}

.header logo {
	display: flex;
	float: left;
	font-size: 50;
	color: white; 
    background-size: cover;
    background-color: white;
	opacity: 0.65;
    height: 50px;
    width: 50px;
}
